.chart {
	flex: 5;
	padding: 10px;
	color: gray;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
		rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

	.title {
		margin-bottom: 10px;
	}

	.chatGrid {
		stroke: rgb(228, 225, 225);
	}
}
